<div class="container">
    <div class="row mt-3">
        <h3 style="margin-top:2%;">
            Calculadora Binária
         </h3>
        <div class="col-md-12" style="margin-bottom:2%">
            <form>
                <div class="form-group">
                    <input type="text" [value]="resultado" [(ngModel)]="resultado" class="form-control" id="resultado" readonly="readonly">
                </div>
    
            </form>
        </div>
        <table style="table">   
            <tr>
                <td>
            <button type="button" (click)="enviarNumero('0')" class="btn btn-primary"style=" width:100%;margin:2px" >
                0
            </button>
                </td><td>
            <button type="button" (click)="enviarNumero('1')" class="btn btn-primary" style=" width:100%;margin:2px">
                1
            </button>
                </td><td>
            <button type="button" (click)="limpar()" class="btn btn-secondary"style=" width:100%;margin:2px">
                CE
            </button>
            </td>
            <td>
            <button type="button" (click)="enviarNumero('+')" class="btn btn-secondary"style=" width:100%;margin:2px">
                +
            </button>
            </td><td>
            <button type="button" (click)="finalizar()" class="btn btn-danger"style=" width:100%;margin:2px">
                =
            </button>
                
            </tr>
            </table>
    
        <div class="row mt-3">
        <div class="col-md-12" style="margin-bottom:2%">
            <button type="button" (click)="limpar()"  routerLink="/menu" class="btn btn-success"style=" width:100%;margin:2px">
             Voltar para o menu
             
            </button>
        </div>
            
            
            
    </div>
    </div>
    <router-outlet></router-outlet>