<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <img src="assets\imgs\aaaa (2).png" class="img-fluid" alt="Responsive image">

    <ul class="navbar-nav ml-3">
      <li class="nav-item">
        <a class="nav-link text-uppercase" routerLink="/apresentacao" routerLinkActive="active">Apresentação</a> <br>
        </li>
      <li class="nav-item ">
    <a class="nav-link text-uppercase" routerLink="/cdigital" routerLinkActive="active">Calculadora-digital</a> <br>
    </li>
    <li class="nav-item">
  <a class="nav-link text-uppercase" routerLink="/cbin" routerLinkActive="active">Calculadora-Binaria</a> <br>
  </li>
  </ul>
  </nav>
  
  <router-outlet></router-outlet>
  