<h3 style="margin-top:2%;">
    Apresentação
 </h3>

<div class="card align-items-center" style="width: 100%;text-align:center;">
    <img class="card-img-top" src="assets\imgs\aaa.png" style="width:60%;" alt="Card image cap">
    <div class="card-body align-items-center">
      <h5 class="card-title">Rhuan Felipe e Gabriel Maia</h5>
      <p class="card-text">Estudantes de ciências da computação.<br> Esse foi um projeto em Ionic para implementar uma calculadora binária e decimal.</p>
      <a  class="btn btn-danger btn-lg" routerLink="/menu">Voltar para o menu</a>
    </div>
  </div>

  <router-outlet></router-outlet>